@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Work+Sans&display=swap");

.contentIndex {
    display: contents;
}

.header {
    min-height: 100%;
    width: auto;
}

.contentIndex .header {
    align-items: center;
    background-color: #1d3557;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 100px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 50px;
    position: relative;
    width: 100%;
}

.contentIndex .appBar {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.contentIndex .leftBar {
    word-spacing: 0px;
    flex: 1 0 0px;
    height: auto;
    position: relative;
    white-space: pre-wrap;
    width: 1px;
    word-break: break-word;
    word-wrap: break-word;

    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.contentIndex .rightBar {
    --common-link-text-color: #0099ff;
    --common-link-text-decoration: underline;
    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;

    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

p.header-text {
    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);

    --font-selector: R0Y7V29yayBTYW5zLXJlZ3VsYXI=;
    --common-font-family: "Work Sans", "Work Sans Placeholder", sans-serif;
    --common-text-alignment: left;
    --common-text-color: rgb(241, 250, 238);
}

.contentIndex .logoHeader {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.contentIndex .logo {
    align-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: var(--common-aspect-ratio-supported, 327px);
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}

.contentIndex .logo-container {
    flex: none;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 4;
}

.contentIndex .description {
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 100px;
    position: relative;
    width: 100%;
}

.descriptionTitle {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

h2.description-text {
    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);

    --font-selector: R0Y7RHluYVB1ZmYtNzAw;
    --common-font-family: "DynaPuff", sans-serif;
    --common-font-size: 48px;
    --common-font-weight: 700;
    --common-text-alignment: center;
    --common-text-color: rgb(69, 123, 157);
}

.contentIndex .descParagraph {
    --common-link-text-color: #0099ff;
    --common-link-text-decoration: underline;
    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    max-width: 100%;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 500px;
    word-break: break-word;
    word-wrap: break-word;

    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

p.description-text {
    --font-selector: R0Y7V29yayBTYW5zLXJlZ3VsYXI=;
    --common-font-family: "Work Sans", "Work Sans Placeholder", sans-serif;
    --common-line-height: 1.5em;
    --common-text-alignment: center;
    --common-text-color: rgb(69, 123, 157);

    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);
}

.contentIndex .descBtn {
    align-items: center;
    background-color: #457b9d;
    border-radius: 8px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 40px;
    justify-content: center;
    overflow: visible;
    padding: 15px;
    position: relative;
    width: min-content;
}

.contentIndex .btn-content {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;

    -common-link-text-color: #0099ff;
    --common-link-text-decoration: underline;
    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
    cursor: pointer;
}

p.btn-text {
    --font-selector: R0Y7V29yayBTYW5zLXJlZ3VsYXI=;
    --common-font-family: "Work Sans", "Work Sans Placeholder", sans-serif;
    --common-font-size: 14px;
    --common-text-alignment: center;
    --common-text-color: rgb(255, 255, 255);

    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);
}

.contentIndex .about {
    align-items: center;
    background-color: #1d3557;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 100%;
}

.contentIndex .aboutContent {
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: flex-start;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.contentIndex .aboutText {
    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;

    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

p.about-text {
    --font-selector: R0Y7V29yayBTYW5zLXJlZ3VsYXI=;
    --common-font-family: "Work Sans", "Work Sans Placeholder", sans-serif;
    --common-line-height: 1.5em;
    --common-text-alignment: left;
    --common-text-color: rgb(255, 255, 255);

    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);
}

.contentIndex .aboutLarge {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;

    --common-link-text-color: #0099ff;
    --common-link-text-decoration: underline;
    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    max-width: 600px;
    overflow: visible;
    position: relative;
    // white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}

h2.about-text {
    --font-selector: R0Y7RHluYVB1ZmYtNzAw;
    --common-font-family: "DynaPuff", sans-serif;
    --common-font-size: 50px;
    --common-font-weight: 700;
    --common-text-alignment: left;
    --common-text-color: rgb(255, 255, 255);

    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);
}

.contentIndex .features {
    align-items: center;
    background-color: #f1faee;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 100%;
}

.contentIndex .featuresTitle {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;

    --common-link-text-color: #0099ff;
    --common-link-text-decoration: underline;
    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    max-width: 1000px;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}

h2.features-text {
    --font-selector: R0Y7RHluYVB1ZmYtNzAw;
    --common-font-family: "DynaPuff", sans-serif;
    --common-font-size: 48px;
    --common-font-weight: 700;
    --common-text-alignment: left;

    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);
}

.feature-grid {
    display: grid;
    flex: none;
    gap: 60px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2, min-content);
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.feature {
    align-items: flex-start;
    align-self: start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    justify-self: start;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.contentIndex .grid-title {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;

    --common-link-text-color: #0099ff;
    --common-link-text-decoration: underline;
    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}

h2.grid-title {
    --font-selector: R0Y7V29yayBTYW5zLXJlZ3VsYXI=;
    --common-font-family: "Work Sans", "Work Sans Placeholder", sans-serif;
    --common-font-size: 20px;
    --common-letter-spacing: -0.025em;
    --common-line-height: 1.5em;
    --common-text-alignment: left;

    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);
}

.contentIndex .grid-desc{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;

    --common-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    max-width: 350px;
    overflow: visible;
    position: relative;
    // white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}

h2.grid-desc {
    --font-selector: R0Y7V29yayBTYW5zLXJlZ3VsYXI=;
    --common-font-family: "Work Sans", "Work Sans Placeholder", sans-serif;
    --common-line-height: 1.5em;
    --common-text-alignment: left;
    --common-text-color: rgb(29, 53, 87);

    font-family: var(
        --common-font-family,
        Inter,
        Inter Placeholder,
        sans-serif
    );
    font-style: var(--common-font-style, normal);
    font-weight: var(--common-font-weight, 400);
    color: var(--common-text-color, #000);
    font-size: calc(
        var(--common-font-size, 16px) * var(--common-font-size-scale, 1)
    );
    letter-spacing: var(--common-letter-spacing, 0);
    text-transform: var(--common-text-transform, none);
    text-decoration: var(--common-text-decoration, none);
    line-height: var(--common-line-height, 1.2em);
    text-align: var(--common-text-alignment, start);
}

.contentIndex .team {
    align-items: center;
    background-color: #457b9d;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 100%;
}

.contentIndex .faq {
    align-items: center;
    background-color: #1d3557;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px;
    position: relative;
    width: 100%;
}

.contentIndex .footer {
    --border-bottom-width: 0px;
    --border-color: rgba(0, 0, 0, 0.05);
    --border-left-width: 0px;
    --border-right-width: 0px;
    --border-style: solid;
    --border-top-width: 1px;
    align-content: center;
    align-items: center;
    background-color: #a8dadc;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 100px;
    position: relative;
    width: 100%;
}
